:root {
  --primary-color: #0094c6;
  --secondary-color: #828282;
  --tertiary-color: #001242;
  --text-grey: #333333;
  --black: #001242;
  font-family: 'Nunito', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-card {
  overflow: hidden;
  max-width: 1350px;
  margin: auto;
  height: 734px;
  border-radius: 20px;
  background-color: white;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 90px 70px 0 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  height: 50px;
  border-bottom: 1px solid var(--black);
}

.name {
  position: relative;
  left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.nav-buttons {
  position: relative;
  right: 75px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.nav-buttons > a {
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.nav-buttons > a:hover {
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.226); */
  color: var(--primary-color);
}

.left-column {
  display: flex;
  flex-direction: column;
}

.image {
  display: grid;
  place-items: center;
}

.image > .profile-img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.profession {
  color: var(--primary-color);
  font-size: 19.867px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 95px;
}

.intro {
  color: var(--text-grey);
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 95px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 20px 70px 0 70px;
}

.buttons > button {
  display: inline-flex;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 4px 22px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.buttons .resume {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.265);
}

.buttons .resume:hover {
  background: #007095;
  border: 2px solid #007095;
}

.buttons .linkedin {
  color: var(--primary-color);
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  margin-left: 5px;
}

.buttons .linkedin:hover {
  color: white;
  background: var(--primary-color);
}

.about-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.about-1 {
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-2 {
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 400;
}
